$theme-colors: (
  "primary": #ffffff
);

.navBar {
  color: black;
  background-color: #CC092e;
  font-family: 'Graduate', cursive;
}

main {
  background-color: black;
  margin-bottom: 25px !important;
}

body {
  background-color: #003479 !important;
  color: #003479;
  font-family: 'Graduate', cursive;

}

.title {
  text-align: center;
}


.container {
  color: #003479 !important;
  font-family: 'Graduate', cursive;
}

.bodyContainer {
  padding-top: 15px;
  padding-bottom: 100vh !important;
}



.card {
  color: black !important;
  background-color: #003479 !important;
  text-align: center;
  margin: 15px;
  font-family: 'Graduate', cursive;
}

.moveRight {
  text-align: right;
  justify-content: flex-end;
  padding-right: 25px;
  padding-top: 20px;
}

.form-control {
  color: #003479 !important;
  font-family: 'Roboto', sans-serif;
}

.creditForm {
  background-color: #FECCB0 !important;
}

.removeLink{
  color: red;
}
.modal-content{
  background-color: #003479 !important;
  color:black;
}
.removeLink:hover {
  color: darkRed;
  cursor: pointer;
}

.uglyButton{
  visibility: hidden;
}

.search-btn {
  margin-left: 5px;
}

.goodButton {
  visibility: visible;
}

.cartCost {
  text-align: right !important;
}

.formText {
  color:black;
  text-align: left;
}

addressMargin {
  padding-bottom: 10px !important;
}
.billingButton{
  text-align: center;
}
@import '~bootstrap/scss/bootstrap';
